*.pyc
*.bak
*.BAK
*.db
*.py~
massim/scripts/.tmp_serverconfig.xml
pyeismassim/run.sh
*~
pyeismassim/*-kb*.txt
pyeismassim/*-log*.txt
pyeismassim/logs/*-kb*.txt
pyeismassim/logs/*-log*.txt
pyeismassim/logs/*.pl
pyeismassim/runw.sh
pyeismassim/xml.txt
