*.pyc
*.bak
*.BAK
*.db
*.py~
*.log
massim/scripts/.tmp_serverconfig.xml
pyeismassim/run.sh
*~
pyeismassim/logs/*-kb*.xml
pyeismassim/logs/*-log*.txt
pyeismassim/logs/*.pl
pyeismassim/runw.sh
pyeismassim/xml.txt
